/*Global variables go here*/
:root {
  --c-primary-accent: #66cdec;
  --c-dark-grey: #5b5e61ef;
  --c-bg-color-dark: #5b5e61ef;
  --c-bg-color-light: #2524241e;
  --c-primary-text: black;
}

/* Styles for the whole page.*/
html {
  font-family: Verdana, sans-serif;
  color: black;
}

/* Styles for everything in the body*/
body {
  background-color: var(--c-bg-color-light);
}

/* Styles for the main section. */
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  /* grid-template-columns: 1fr 1fr;*/
  /*flex-wrap: wrap;*/
}

/* Set up the images to have some grey-blue tone and to brighten on hover -----------------------*/
img {
  /*filter: grayscale(90%) blur(.1rem);*/
  filter: sepia(50%) saturate(150%) brightness(50%) hue-rotate(180deg);
 /* Height: 100px;
  width: 50px;*/
}

img:hover {
  filter: none;
  cursor: pointer;
}

/* Style header element and its children: section p; nav ul; nav ul li --------------------------*/
/* These will be changed during a screen size shift - see media screen below */
header {
  display: inline-flex;
  width: 100%;
  background-color: var(--c-dark-grey);
  justify-content: space-between;
  align-items: center;
}

header section p {
  background: var(--c-primary-accent);
  color: var(--c-primary-text);
  /*text-align: center;*/
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

header nav ul {
  display: inline-flex;
}

header nav ul li {
  margin-right: 20px;
  list-style: none;
  font-size: .75rem;
}

/* Set up the styling for the About Me section.            --------------------------------------*/
/* Includes the card .card-about-me to be used in the screen size shifts - see media screen below*/

section div p {
  display: block;
  text-align: justify;
  /*padding-left: 50px;
  padding-right: 50px;*/
}

/* Set up card class for our About Me that we are showing */
.card-about-me {
  /* position: relative;
  border: 3px solid var(--c-primary-accent);*/
  display: inline-flex;
}

/* heading About Me */
.card-about-me article p {
  /*  padding: .5rem;
  position: absolute;
  top: 65%;
  background-color: var(--c-primary-accent);
  color: var(--c-dark-grey);*/
  color: var(--c-dark-grey);
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  width: 100%;
  text-align: right;
}

.card-about-me article {
  width: 25%;
  text-align: justify;
}

/* Paragraph for About Me */
.card-about-me div {
  width: 75%;
  padding: 5% 5% 5% 5%;
 }

/* Set up the styling for the Work section.            --------------------------------------*/
/* Includes the card .card-work to be used in the screen size shifts - see media screen below*/

/* Set up card class for our first work that we are showing */
.card-work {
  display: inline-flex;
}
/* heading Work */
.card-work article p {
  color: var(--c-dark-grey);
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  width: 100%;
  text-align: right;
}
.card-work article {
  width: 25%;
  text-align: justify;
}

/* Work image */
.card-work div {
  width: 75%;
  padding: 5% 5% 5% 5%;
}

/* Set up the card class that we will be using for all of our containers containing ------------*/
/*each of our projects that will show up under the Work header.*/
.card {
  position: relative;
  border: 3px solid var(--c-primary-accent);
}

.card h2 {
  padding: .5rem;
  position: absolute;
  top: 25%;
  background-color: var(--c-primary-accent);
  color: var(--c-dark-grey);
}

/* Here is the image that we will be using for the header. */
.hero-bg {
  display: flex-inline;
  Height: 200px;
  width: 100%;

  background-size: cover;
  background-position: center;
  display: block;
}

.hero-bg h2 {
  font: italic 1rem Verdana, sans-serif;
  color: var(--c-dark-grey);
  background: var(--c-primary-accent);
  justify-content: right;
  align-items: end;
  padding: .5rem;
  position: absolute;
  top: 50%;
}

/* Set up card class for our footer that we are showing */
.card-footer {
  /* position: relative;
  border: 3px solid var(--c-primary-accent);*/
  display: inline-flex;
}

.card-footer article p {
  /*  padding: .5rem;
  position: absolute;
  top: 65%;
  background-color: var(--c-primary-accent);
  color: var(--c-dark-grey);*/
  color: var(--c-primary-accent);
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

card-footer nav ul {
  display: inline-flex;
}

card-footer nav ul li {
  margin-right: 20px;
  list-style: none;
  font-size: .75rem;
}



/* Set up for footer --------------------------------------------------
footer {
  display: inline-flex;
  width: 100%;
  background-color: var(--c-bg-color-light);
  justify-content: space-between;
  align-items: center;
}

section ul {
  display: inline-flex;
}

section ul li {
  font-size: .75rem;
  list-style: none;
  margin-right: 20px;
}*/

/* Tablets - header changes color */
/*@media screen and (max-width: 1200px) {
  p {
    background: #772014;
  }
*/

/* Large smartphones - navbar changes color */
@media screen and (max-width: 600px) {
  header {
    flex-wrap: wrap;
    display: block;
    width: 100%;
    background-color: var(--c-bg-color-light);
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }

  header nav ul {
    display: block;
  }

  header nav ul li {
    background-color: var(--c-dark-grey);
    list-style: none;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin-bottom: 5px;
  }

  .hero-bg {
    display: none;
  }

  section div p {
    display: block;
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
  }

  .card-about-me {
    /* position: relative;
    border: 3px solid var(--c-primary-accent);*/
    display: block;
  }

  /*.card-about-me article p {
    padding: .5rem;
    position: absolute;
    top: 65%;
    background-color: var(--c-primary-accent);
    color: var(--c-dark-grey);
    color: var(--c-primary-accent);
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }*/
  .card-work {
    /*position: relative;
    border: 3px solid var(--c-primary-accent);*/
    display: block;
  }

  /*.card-work article p {
    color: var(--c-primary-accent);
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; 
    position: absolute;
    top: 65%;
    background-color: var(--c-primary-accent);
    color: var(--c-dark-grey);
}*/

}

/* Small smartphones - image placeholders change color */
/*@media screen and (max-width: 576px) {
  p {
    background: #8ac4ff;
  }*/

/* Utilities */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}